:root {
  --black: #2D2D2D; // body
  --dark-gray: #444444; // cards or sections
  --brown-accent: #948979; 
  --red-accent-hover: #b3002d;
  --light-gray: #ededed;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--black);
}

