:root {
  --black: #171717; // body
  --dark-gray: #444444; // cards or sections
  --brown-accent: #948979; 
  --red-accent-hover: #b3002d;
  --light-gray: #ededed;
}

body {
  background-color: var(--black);
}

