@font-face {
  font-family: Monda;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("./fonts/Monda-Regular.woff2") format("woff2"),
    url("./fonts/Monda-Regular.woff") format("woff");
}

@font-face {
  font-family: Monda;
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url("./fonts/Monda-Bold.woff2") format("woff2"),
    url("./fonts/Monda-Bold.woff") format("woff");
}

@font-face {
  font-family: Monda;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("./fonts/Monda-Medium.woff2") format("woff2"),
    url("./fonts/Monda-Medium.woff") format("woff");
}

@font-face {
  font-family: Monda;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("./fonts/Monda-SemiBold.woff2") format("woff2"),
    url("./fonts/Monda-SemiBold.woff") format("woff");
}
