@import "tailwindcss";

@keyframes color-sweep {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}

@theme {
  --font-display: monda;
  --color-primary: #3a506b;
  --color-secondary: #212d40;
  --color-accent: #00d8ff;
  --color-neutral: #fff;
}

@layer components {
  /* Shadows */
  .text-shadow-default {
    text-shadow: 6px 6px 4px rgb(0 0 0 / 25%);
  }

  .box-shadow-default {
    box-shadow: 6px 6px 4px rgb(0 0 0 / 25%);
  }

  .inset-shadow-default {
    box-shadow: inset 6px 6px 4px rgb(0 0 0 / 25%),
      inset -6px -6px 4px rgb(0 0 0 / 25%);
  }

  /* Buttons */

  .btn {
    @apply py-2 px-4 rounded-lg w-fit hover:brightness-125 duration-300;

    &.primary {
      @apply bg-primary text-neutral;
    }

    &.secondary {
      @apply bg-secondary;
    }

    /* &.primary {
      @apply bg-primary text-neutral;
    }

    &.secondary {
      @apply bg-gray-50 text-accent;
    } */
  }
}

.career-card {
  @apply flex flex-col items-start p-3  relative duration-500 transition-all;

  ::before {
    @apply content-[''] bg-neutral-500 top-0 left-0 absolute rounded-md h-full w-0.5 transition-all duration-300;
  }

  &.highlight-on-center,
  &:hover {
    @apply bg-accent/5 opacity-100;

    h3 {
      @apply text-accent duration-500;
    }

    ::before {
      @apply bg-accent;
    }
  }
}

:has(.career-card.highlight-on-center) .career-card:not(.highlight-on-center),
:has(.career-card:hover) .career-card:not(:hover) {
  opacity: 0.5;
}

body {
  @apply text-neutral text-sm font-display;
}

h1 {
  @apply text-3xl font-bold;
}

h2 {
  @apply text-2xl font-medium;
}

h3 {
  @apply text-xl font-medium;
}

.carousel-container {
  .carousel-item {
    width: var(--spacing * 256) !important;
  }
}
